<div class="wrapper">

  <div id="teamMap" class="padding-top-half">

    <div class="row full-width-row">
      <div class="columns small-4">
        <div class="columns small-11 text-center bg-red small-centered">
          <h1 style="margin-bottom: 0px" class="text-archivo">ANALYTIC</h1>
          <h5 class="quad-desc">Concerned with data, facts,<br> numbers, being "logical" and rational</h5>
        </div>
      </div>

      <div class="columns small-4">
        <h1 id="main-title" class="text-center text-stencil text-bold">
          <span *ngIf=" (!team.team_name) ">INTELLECTUAL CAPITAL</span>
          <span *ngIf=" (team.team_name) ">{{team.team_name}}</span>
          <br>
          TEAM MAP
        </h1>
      </div>

      <div class="columns small-4">
        <div class="ccolumns small-11 text-center bg-green small-centered">
          <h1 style="margin-bottom: 0px" class="text-archivo">INNOVATIVE</h1>
          <h5 class="quad-desc">Concerned with the future, newness,<br> possibilities, strategy, "big picture"</h5>
        </div>
      </div>
    </div>

    <div class="row text-center full-width-row">

      <!--Analytical Traits-->
      <div class="columns small-5">

        <div class="row">
          <div class="columns small-4 puzzle">
            <h5 class="talentHeading">Organizing</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Organizing')" [ngClass]="{'column-count-2': getNames('Organizing').length > 8}">
              <h4 *ngFor="let name of getNames('Organizing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Achieving</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Achieving')" [ngClass]="{'column-count-2': getNames('Achieving').length > 8}">
              <h4 *ngFor="let name of getNames('Achieving')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="columns small-4 puzzle">&nbsp;</div>
          <div class="columns small-4 puzzle">&nbsp;</div>


          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Fixing It</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Fixing It')" [ngClass]="{'column-count-2': getNames('Fixing It').length > 9}">
              <h4 *ngFor="let name of getNames('Fixing It')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Collecting</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Collecting')" [ngClass]="{'column-count-2': getNames('Collecting').length > 6}">
              <h4 *ngFor="let name of getNames('Collecting')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>

          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Thinking Logically</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Thinking Logically')" [ngClass]="{'column-count-2': getNames('Thinking Logically').length > 6}">
              <h4 *ngFor="let name of getNames('Thinking Logically')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>
        </div>

      </div>

      <!--Central Traits-->
      <div class="columns small-2 central-border-top">
        <div class="columns small-12 puzzle">
          <h5 class="ttheading">Goal Setting</h5>
          <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

          <div class="name" *ngIf="isChecked('Goal Setting')" [ngClass]="{'column-count-2': getNames('Goal Setting').length > 6}">
            <h4 *ngFor="let name of getNames('Goal Setting')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
          </div>

        </div>

        <div class="columns small-12 margin-top-15 puzzle" id="special-spacing">
          <h5 class="ttheading">Competing</h5>
          <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

          <div class="name" *ngIf="isChecked('Competing')" [ngClass]="{'column-count-2': getNames('Competing').length > 6}">
            <h4 *ngFor="let name of getNames('Competing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
          </div>

        </div>
      </div>

      <!--Innovative Traits-->
      <div class="columns small-5">

        <div class="row full-width-rowc">
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Thinking Forward</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Thinking Forward')" [ngClass]="{'column-count-2': getNames('Thinking Forward').length > 4}">
              <h4 *ngFor="let name of getNames('Thinking Forward')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Standing Out</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Standing Out')" [ngClass]="{'column-count-2': getNames('Standing Out').length > 4}">
              <h4 *ngFor="let name of getNames('Standing Out')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>

          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Loving Ideas</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Loving Ideas')" [ngClass]="{'column-count-2': getNames('Loving Ideas').length > 5}">
              <h4 *ngFor="let name of getNames('Loving Ideas')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="columns small-4 small-offset-2 puzzle">
            <h5 class="ttheading">Adapting</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Adapting')" [ngClass]="{'column-count-2': getNames('Adapting').length > 4}">
              <h4 *ngFor="let name of getNames('Adapting')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>


          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Innovating</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Innovating')" [ngClass]="{'column-count-2': getNames('Innovating').length > 4}">
              <h4 *ngFor="let name of getNames('Innovating')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Strategizing</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Strategizing')" [ngClass]="{'column-count-2': getNames('Strategizing').length > 6}">
              <h4 *ngFor="let name of getNames('Strategizing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Love of Learning</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Love of Learning')" [ngClass]="{'column-count-2': getNames('Love of Learning').length > 6}">
              <h4 *ngFor="let name of getNames('Love of Learning')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row text-center full-width-row" style="margin-bottom:0.5em">

      <!--Analytical Trait Row 2-->
      <div class="columns small-5">

        <div class="row central-border-sides">

          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Focusing</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Focusing')" [ngClass]="{'column-count-2': getNames('Focusing').length > 6}">
              <h4 *ngFor="let name of getNames('Focusing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>

          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Equalizing</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Equalizing')" [ngClass]="{'column-count-2': getNames('Equalizing').length > 6}">
              <h4 *ngFor="let name of getNames('Equalizing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>

          <div class="columns small-4 down-some puzzle">
            <h5 class="ttheading">Reliability </h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Reliability')" [ngClass]="{'column-count-2': getNames('Reliability').length > 6}">
              <h4 *ngFor="let name of getNames('Reliability')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>

          </div>

        </div>

        <div class="row padded-row">
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Taking Charge</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Taking Charge')" [ngClass]="{'column-count-2': getNames('Taking Charge').length > 6}">
              <h4 *ngFor="let name of getNames('Taking Charge')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>


          </div>
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Making It Happen</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Making It Happen')" [ngClass]="{'column-count-2': getNames('Making It Happen').length > 6}">
              <h4 *ngFor="let name of getNames('Making It Happen')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-4 down-some puzzle">
            <h5 class="ttheading">Thinking Back</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Thinking Back')" [ngClass]="{'column-count-2': getNames('Thinking Back').length > 8}">
              <h4 *ngFor="let name of getNames('Thinking Back')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>


        <div class="row padded-row">
          <div class="columns small-4 puzzle">
            <h5 class="ttheading">Perfecting</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Perfecting')" [ngClass]="{'column-count-2': getNames('Perfecting').length > 6}">
              <h4 *ngFor="let name of getNames('Perfecting')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-4 end puzzle">
            <h5 class="ttheading">Having Confidence</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Having Confidence')" [ngClass]="{'column-count-2': getNames('Having Confidence').length > 6}">
              <h4 *ngFor="let name of getNames('Having Confidence')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

      </div>

      <!--Central Traits Row 2-->
      <div class="columns small-2 central-border-bottom">
        <div class="columns small-12 ta-spacing puzzle">
          <h5 class="ttheading">Thinking Alone</h5>
          <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

          <div class="name" *ngIf="isChecked('Thinking Alone')" [ngClass]="{'column-count-2': getNames('Thinking Alone').length > 6}">
            <h4 *ngFor="let name of getNames('Thinking Alone')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
          </div>
        </div>

        <div class="columns small-12 j-spacing margin-bottom-15 puzzle">
          <h5 class="ttheading">Joking</h5>
          <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

          <div class="name" *ngIf="isChecked('Joking')" [ngClass]="{'column-count-2': getNames('Joking').length > 7}">
            <h4 *ngFor="let name of getNames('Joking')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
          </div>

        </div>
      </div>

      <!--Innovative Traits Row 2-->
      <div class="columns small-5 central-border-sides ">

        <div class="row">
          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Optimism</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Optimism')" [ngClass]="{'column-count-2': getNames('Optimism').length > 6}">
              <h4 *ngFor="let name of getNames('Optimism')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Mentoring</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Mentoring')" [ngClass]="{'column-count-2': getNames('Mentoring').length > 6}">
              <h4 *ngFor="let name of getNames('Mentoring')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Peace-making</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Peace-making')" [ngClass]="{'column-count-2': getNames('Peace-making').length > 6}">
              <h4 *ngFor="let name of getNames('Peace-making')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 down-some puzzle">
            <h5 class="ttheading">Individuality</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Individuality')" [ngClass]="{'column-count-2': getNames('Individuality').length > 6}">
              <h4 *ngFor="let name of getNames('Individuality')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

        <div class="row padded-row">
          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Including</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Including')" [ngClass]="{'column-count-2': getNames('Including').length > 6}">
              <h4 *ngFor="let name of getNames('Including')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Enrolling</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Enrolling')" [ngClass]="{'column-count-2': getNames('Enrolling').length > 6}">
              <h4 *ngFor="let name of getNames('Enrolling')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Creating Intimacy</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png" />

            <div class="name" *ngIf="isChecked('Creating Intimacy')" [ngClass]="{'column-count-2': getNames('Creating Intimacy').length > 6}">
              <h4 *ngFor="let name of getNames('Creating Intimacy')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 down-some puzzle">
            <h5 class="ttheading">Feeling For Others</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png" />

            <div class="name" *ngIf="isChecked('Feeling For Others')" [ngClass]="{'column-count-2': getNames('Feeling For Others').length > 8}">
              <h4 *ngFor="let name of getNames('Feeling For Others')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

        <div class="row padded-row">
          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Connecting</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Connecting')" [ngClass]="{'column-count-2': getNames('Connecting').length > 6}">
              <h4 *ngFor="let name of getNames('Connecting')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 puzzle">
            <h5 class="ttheading">Believing</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Believing')" [ngClass]="{'column-count-2': getNames('Believing').length > 6}">
              <h4 *ngFor="let name of getNames('Believing')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>

          <div class="columns small-3 end puzzle">
            <h5 class="ttheading">Storytelling</h5>
            <img width="105" src="../../../assets/images/puzzle-icon-empty.png"/>

            <div class="name" *ngIf="isChecked('Storytelling')" [ngClass]="{'column-count-2': getNames('Storytelling').length > 6}">
              <h4 *ngFor="let name of getNames('Storytelling')" class="text-archivo margin-bottom-0" [ngClass]="{'stuffed': isStuffed()}">{{name}}</h4>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row text-center margin-top-1 full-width-row max-height-130">
      <div class="columns small-4">
        <div class="columns small-11 text-center bg-blue small-centered">
          <h1 style="margin-bottom: 0px;" class="text-archivo">PROCEDURAL</h1>
          <h5 class="quad-desc">Concerned with process,<br> operations, logistics, tactics</h5>
        </div>
      </div>

      <div class="columns small-4" id="logo">
        <h4 class="text-center"><img width="170" src="../../../assets/images/noWayOutLogoSmall.png"></h4>
        <h2 class="text-archivo">NOWAYOUTSTL.COM</h2>
      </div>

      <div class="columns small-4">
        <div class="columns small-11 text-center bg-yellow small-centered">
          <h1 style="margin-bottom: 0px;" class="text-archivo">RELATIONAL</h1>
          <h5 class="quad-desc">Concerned with feelings, morale,<br> teamwork, development of people</h5>
        </div>
      </div>

    </div>

  </div>
</div>
