<div id="team-chart">
  <button id="add-profile-button" (click)="addPerson()">Add profile</button>
  <table id="team-chart__table">
    <colgroup>
      <col style="width:20%">
      <col style="width:45%">
      <col style="width:35%">
    </colgroup>
    <tr id="team-chart__header-row">
      <th>Name</th><th>Thinking Talents</th><th>Actions</th>
    </tr>
    <tr class="team-chart__teammates greyed-out" *ngIf="teammates.length==0">
      <td>Add new profile</td>
      <td>No talents yet...</td>
      <td>N/a</td>
    </tr>
    <tr class="team-chart__teammates" *ngFor="let person of teammates; let i = index">
      <td>{{person.name}}</td>
      <td>
        <span class="talent-bubbles" *ngFor="let talent of person.talents">{{talent.name}}</span>
      </td>
      <td>
        <button class="team-chart__actions-buttons" (click)="viewPerson(person)">View</button>
        <button class="team-chart__actions-buttons" (click)="editPerson(i, person)">Edit</button>
        <button class="team-chart__actions-buttons" (click)="removePerson(person.name)">Remove</button>
      </td>
    </tr>
  </table>
</div>
