#team-chart {
  #add-profile-button {
    background-color: #3389f2;
    width: 6.5rem;
    color: white;
    padding: .8rem 1rem;
    text-align: center;
    border-radius: 5px;
    border: solid transparent 1px;
    cursor: pointer;
    float: right;
    margin: 0 1rem;
  }

  #team-chart__table {
    border-collapse: collapse;
    width: 100%;

    .team-chart__actions-buttons {
      padding: .7rem 1rem;
      border: solid black 1px;
      border-radius: 10px;
      margin-right: .5rem;
      cursor: pointer;
    }

    tr {
      border-bottom: solid lightgrey 1px;
    }

    #team-chart__header-row {
      height: 4rem;

      th {
        text-align: left;
        padding-left: 1.5rem;
      }
    }

    .team-chart__teammates {
      height: 6rem;

      td {
        padding-left: 1rem;
      }
    }

    .talent-bubbles {
      border: lightgrey solid .5px;
      background-color: lightgrey;
      border-radius: 5px;
      padding: .1rem .1rem;
      font-size: 11px;
      margin: .1rem;
    }
  }
}
