<div id="thinking-talents-main">
  <h1>Team Map</h1>

  <mat-checkbox
    id="team-name-checkbox"
    type="checkbox"
    [checked]="disableTeamNameInput"
    (change)="toggleTeamNameInput()">
    Team Name?
  </mat-checkbox>
  <input
    id="team-name-input"
    type="text"
    [disabled]="disableTeamNameInput">

  <app-team-chart
    (addPlayerEmitter)="addTeammate()"
    (viewPlayerEmitter)="viewTeammate($event)"
    (updatePlayerEmitter)="updateTeammate($event)"
    (updateTeamEmitter)="updateTeam($event)"
    [teammates]="teammates">
  </app-team-chart>
  <app-skills-popup
    (skillsPopupEmitter)="toggleSkillsPopup($event)"
    (addTeammatetoChartEmitter)="addTeammatetoChart($event)"
    [updatedTeammate]="updatedTeammate"
    [isAddingTeammate]="addNewTeammate"
    *ngIf="toggleSkills">
  </app-skills-popup>
</div>
<div id="screen-dimmer" *ngIf="toggleSkills||toggleDisplayTeammate"></div>
