<div id="thinking-talents-main">
  <h1>Team Map</h1>
  <app-team-chart
    (addPlayerEmitter)="addTeammate()"
    (updatePlayerEmitter)="updateTeammate($event)"
    (updateTeamEmitter)="updateTeam($event)"
    [teammates]="teammates">
  </app-team-chart>
  <app-skills-popup
    (skillsPopupEmitter)="toggleSkillsPopup($event)"
    (addTeammatetoChartEmitter)="addTeammatetoChart($event)"
    [updatedTeammate]="updatedTeammate"
    [isAddingTeammate]="addNewTeammate"
    *ngIf="toggleSkills">
  </app-skills-popup>
</div>
<div id="screen-dimmer" *ngIf="toggleSkills"></div>
