<div id="thinking-talents-main">
  <h1>Team Map</h1>

  <mat-form-field id="team-input-field">
    <mat-label>Choose a team name</mat-label>
    <input matInput
           id="team-name-input"
           type="text"
           placeholder="Ex. Team Name"
           (change)="changeTeamName()"
           [(ngModel)]="teamName"/>
    <button mat-button *ngIf="teamName" matSuffix mat-icon-button aria-label="Clear"
            (click)="teamName=''; changeTeamName()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <app-team-chart
    (addPlayerEmitter)="addTeammate()"
    (viewPlayerEmitter)="viewTeammate($event)"
    (updatePlayerEmitter)="updateTeammate($event)"
    (removeTeammateFromChartEmitter)="removeTeammateFromChart($event)"
    (updateTeamEmitter)="updateTeam($event)"
    (generateTeamMap)="generateMap()"
    (resetTeamEmitter)="resetTeam()"
    [teammates]="teammates">
  </app-team-chart>

  <app-skills-popup
    (skillsPopupEmitter)="toggleSkillsPopup($event)"
    (addTeammatetoChartEmitter)="addTeammatetoChart($event)"
    [updatedTeammate]="updatedTeammate"
    [isAddingTeammate]="addNewTeammate"
    *ngIf="toggleSkills">
  </app-skills-popup>

  <app-team-map
    [team]="teamData"
    [mapData]="mapData"
    *ngIf="showMap">
  </app-team-map>

  <div id="screen-dimmer" *ngIf="toggleSkills||toggleDisplayTeammate"></div>
</div>
