<div id="skills-popup__skills-popup">
  <img class="x-icon" src="assets/images/close-icon.png" alt="X Icon to close the skills group popup"
       (click)="closePopup()">
  <h2>New Profile</h2>
  <div id="skills-popup__input-name" [formGroup]="newPersonForm">
    <label for="new-teammate">Name: </label>
    <input type="text" required id="new-teammate" name="new-teammate" placeholder="Michael Jordan" [(ngModel)]="playerName"
           formControlName="name" [ngClass]="{'is-invalid': newPersonForm.get('name').invalid && newPersonForm.get('name').touched}">
    <div class="invalid-feedback" *ngIf="newPersonForm.get('name').invalid && newPersonForm.get('name').touched">
      <div *ngIf="newPersonForm.get('name').errors.required">Must enter a name.</div>
      <div *ngIf="newPersonForm.get('name').errors.minlength">Name must be at least 3 characters long</div>
    </div>
  </div>
  <button class="skills-popup__skill-select"
          *ngFor="let skill of skillsData"
          [ngClass]="{'active': skill.checked}"
          (click)="toggleSelectTalent(skill)">
    {{skill.name}}
  </button>
  <form id="skills-popup__submit-entry" [formGroup]="newPersonForm" (ngSubmit)="onSubmit(newPersonForm.value.name)">
    <button id="skills-popup__submit-button" type="submit" [disabled]="!newPersonForm.valid || !anyChecked">Submit</button>
  </form>
</div>
