#skills-popup__container {
  background-color: white;
  border: solid black 1px;
  padding: 1rem;
  width: 30rem;

  /*Modal Popup*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .x-icon {
    width: 1rem;
    float: right;
    cursor: pointer;
  }

  #skills-popup__input-name {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 14px;
  }

  #new-profile-msg p {
    font-size: 14px;
  }

  #skills-popup__submit-entry {
    text-align: center;
    margin-top: .2rem;
  }

  .skills-popup__skill-select {
    display: inline-block;
    cursor: pointer;
    padding: 0 .3rem;
    margin: .2rem .3rem;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
  }

  #skills-popup__selections-msg {
    font-size: 12px;
  }

  .active {
    color: white;
    background-color: #338cf2 !important;
  }

  .blue-font {
    color: blue;
  }

  .red-font {
    color: red;
  }
}
