<div id="display-teammate__container">
  <img class="x-icon" src="assets/images/close-icon.png" alt="X Icon to close the skills group popup"
       (click)="closePopup()">
  <div id="display-teammate__name">
    <h2>Teammate: {{playerName}}</h2>
  </div>

  <div id="display-teammate__msg">
    <div *ngIf="talentPreference!='Whole-Brained'">
      <div class="skill-results">
        <div class="header">Preference</div>
        <div class="result">{{talentPreference}}</div>
      </div>
      <div class="skill-results">
        <div class="header">Blind Spot</div>
        <div class="result">{{blindSpot}}</div>
      </div>
    </div>
    <div *ngIf="talentPreference=='Whole-Brained'">
      <div class="skill-results-whole">
        <div class="header">Preference</div>
        <div class="result">{{talentPreference}}</div>
      </div>
    </div>


    <h4>Talent Breakdown ({{skillsData.length}} total)</h4>
    <div id="display-teammate__skills-breakdown">
      <div class="skill-type">Analytical: {{numAnalyticalTalents}}</div>
      <div class="skill-type">Procedural: {{numProceduralTalents}}</div>
      <div class="skill-type">Innovative: {{numInnovativeTalents}}</div>
      <div class="skill-type">Relational: {{numRelationalTalents}}</div>
    </div>

    <h4>Thinking Talents</h4>
    <div class="display-teammate__skill" *ngFor="let skill of skillsData">
      {{skill.name}}
    </div>
  </div>
</div>
