#display-teammate__container {
  background-color: white;
  border: solid black 1px;
  padding: 1rem;
  width: 25rem;

  /*Modal Popup*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .x-icon {
    width: 1rem;
    float: right;
    cursor: pointer;
  }

  #display-teammate__name {
    text-align: center;
    margin-bottom: 1rem;
  }

  #display-teammate__submit-entry {
    text-align: center;
  }

  .display-teammate__skill {
    background-color: rgb(51, 137, 242, 0.7);
    color: white;
    border-radius: 5px;
    padding: .3rem .5rem;
    font-size: 14px;
    margin: .1rem;
    display: inline-block;
  }

  #display-teammate__skills-breakdown {
    margin: auto;
  }

  .skill-type {
    border: black solid .1px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: .5rem;
    font-size: 14px;
    margin: .1rem;
    display: inline-block;
  }

  .skill-results {
    border: black solid .5px;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: .5rem;
    width: 10.5rem;
    height: 3rem;
    margin: .25rem;
    display: inline-block;

    .header {
      font-weight: bold;
      font-size: 24px;
    }

    .result {
      font-size: 16px;
    }
  }

  .skill-results-whole {
    border: black solid .5px;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: .5rem;
    width: 23rem;
    height: 3rem;
    margin: .25rem;
    display: inline-block;

    .header {
      font-weight: bold;
      font-size: 24px;
    }

    .result {
      font-size: 16px;
    }
  }
}
