#display-teammate__container {
  background-color: white;
  border: solid black 1px;
  padding: 1.5rem;
  width: 40rem;
  height: 35.5rem;

  /*Modal Popup*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .x-icon {
    width: 1rem;
    float: right;
    cursor: pointer;
  }

  #display-teammate__input-name {
    text-align: center;
    margin-bottom: 1rem;
  }

  #display-teammate__submit-entry {
    text-align: center;
  }

  .display-teammate__skill-select {
    display: inline-block;
    cursor: pointer;
    padding: .5rem;
    margin: .3rem;
    width: 9rem;
    text-align: center;
    border: solid grey 1px;
    border-radius: 25px;
    background-color: lightgrey;
    overflow: hidden;
    white-space: nowrap;
  }

  .active {
    color: white;
    background-color: #338cf2 !important;
  }

  .display-teammate__skill-select:hover {
    color: white;
    background-color: #7cb1ee;
  }

  .blue-font {
    color: blue;
  }

  .red-font {
    color: red;
  }
}
